@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #69C5D3;
  --color-secondary: #CDE422;
  --color-base-content: #000000; /* black */
   /* custom white color */
  --color-white: #ffffff;
  /* Optional for nicer look */
  --color-neutral: #EF2853; /* btn-neutral */
  --color-accent: #a3e635;  /* btn-accent */
}